body{
    background-color: rgb(244, 244, 244);
}

section{
    border-radius: 10px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.global{
    width: 100%;
    height: 90%;
    background-color: white;
    padding: 0vmax;
}

.titulo{
    font-family: sans-serif;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid black;
}

.parrafo{
    font-family: sans-serif;
    font-size: small ;
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline double;
}

.bloque{
    margin: 20px;
    font-size: small ;
    font-style: italic;
    padding: 10px;
    color: grey;
    text-align: left;
    text-transform: inherit;
    text-decoration: italic;
    border-left: 4px solid grey;
    background-color: rgb(228, 228, 228);
}

.cajas{
    display: flex;
    flex-direction: column;
    align-items: unset ;
    justify-content: center;
    gap: 1vh;
    margin-top: 2vh;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 7px;
    height: 60px;
    box-shadow: 5px 4px 10px 2px rgba(0, 0, 0, 0.404);
    padding-left: 15px;
}

.caja1{
    background-color: white;
}

.caja2{
    background-color: rgb(245, 215, 150);
    border: 3px solid black;
}

.cajaPadre{
    width: 100%;
    height: 100px;
    position: relative;
}

.cajaP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    height: 60px;
    padding-left: 15px;
}

.relativo{
    background-color: rgb(219, 239, 241);
    position: relative;
    z-index: 5;
    top: 12px;
}

.absoluto{
    background-color: rgb(2, 153, 153);
    color: white;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 50%;
}

@media screen and (max-width:768px){
    body{
        background-color: rgb(207, 190, 216);
    }
    h1{
        font-size: 90%;
    }
}

.grid-container{
    display: grid;
    height: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.grid-item{
    background-color: rgb(140, 154, 252);
    font-size: xx-small;
    text-align: center;
    color: white;
    justify-items: center;
    border-radius: 5px;
    grid-column: auto;
}

.animacion{
    width: 100px;
    height: 100px;
    background-color: red;
}

.animacion:hover{
    width: 100px;
    height: 100px;
    cursor: move;
    background-color: rgb(228, 168, 168);
    border: 1px solid red;
}

.mover{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: green;
    animation: mover 2s infinite;
}

@keyframes mover{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
